.git/
.gitattributes
.gitignore
.cirrus.yml
.editorconfig
.github/
.style.yapf
.tx/
build_msvc/
ci/
contrib/debian/
*.zip
!Ordexcoin-Core-vASERT-4790.zip
*.gz
*.md
build/
out/
out-windows/
*.swp
*.swo
*~
